*{
   margin:0px;

}
li{
    display: inline;

}
ul{
    list-style: none;
}
nav{
    display: grid;
    grid-template-columns: 10% 45% 45%;


    padding:20px;
    background:black;
    color: white;
}
.blog{
    margin-left: 5%;
}
.right-item li,.left-item li{
    padding: 20px;
}
.left-item{
    margin-left:35%;
}
.search-bar{
  width: 40px;
  height:40px;
  background: black;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;


}
